.form_container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    z-index: 1;
    
    


}

.form_container form{

    display: flex;
    flex-direction: column;
    
    
    

}




input{

    margin: 10px;
    padding-left: 5px;
    width: 500px;
    height: 30px;
    border-radius: 20px;
    



}

.fakebody{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(/public/assets/OIP.webp);
    background-size: cover;
    
} 

#submit{

    width: 100px;
    height: 30px;
    position: absolute;
    left:77%;
    


}

.form_container p{

    color: white;

}

.fakebody::after{
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 2%;
    pointer-events: none; 
} 

#id{
    font-style: italic;
    color: white;
    
}

.welcome{
    position: absolute;
    left: 50%;
    top: 5%;
    width: 35%;
    transform: translate(-50%);
    z-index: 1;

}
